NUXT_PUBLIC_APP_USER_BACKEND_URL=http://customer-service.localhost
NUXT_PUBLIC_APP_USER_MULESOFT_URL=http://json.privilege.customer-area.localhost
NUXT_PUBLIC_GTM_ID=GTM-M325ZVF
NUXT_PUBLIC_GTM_AUTH=_8nhXWCawpu3IAHPdZD8dQ
NUXT_PUBLIC_GTM_ENV=env-3
NUXT_PUBLIC_GTM_COOKIE=fc2f8513-11cd-4318-b44e-89730fc88033
NUXT_PUBLIC_GTM_ENABLED=false
NUXT_PUBLIC_APP_USER_MENU_URL=https://reward-club.indexia-sandbox.com
NUXT_PUBLIC_APP_USER_MENU_URL_HRC=https://reward-club.indexia-sandbox.com
NUXT_PUBLIC_APP_USER_MENU_URL_FORIOU=https://uat.foriou.indexia-sandbox.com
NUXT_PUBLIC_APP_USER_MENU_URL_CYRANA=https://uat.cyrana.indexia-sandbox.com
NUXT_PUBLIC_APP_USER_MENU_URL_SERENA_REWARD_CLUB=https://serena-reward-club.hubside-sandbox.eu
NUXT_PUBLIC_APP_USER_MENU_URL_SERENA_RENT=https://serena-reward-club.hubside-sandbox.eu

NUXT_PUBLIC_GTM_ENV_CELSIDE_SERVICE=env-3
NUXT_PUBLIC_GTM_ENV_HUBSIDE_SERVICE=env-3
NUXT_PUBLIC_GTM_ENV_CYRANA=env-14
NUXT_PUBLIC_GTM_ENV_FORIOU=env-3
NUXT_PUBLIC_GTM_ENV_HUBSIDE_INSURANCE=env-12
NUXT_PUBLIC_GTM_ENV_REWARD_CLUB=env-3
NUXT_PUBLIC_GTM_ENV_SERENA_REWARD_CLUB=env-3
NUXT_PUBLIC_GTM_ENV_SERENA_RENT=env-3
NUXT_PUBLIC_GTM_ID_CELSIDE_SERVICE=GTM-M44JMNS
NUXT_PUBLIC_GTM_ID_HUBSIDE_SERVICE=GTM-M44JMNS
NUXT_PUBLIC_GTM_ID_CYRANA=GTM-M4J7CLC
NUXT_PUBLIC_GTM_ID_FORIOU=GTM-5PWTVFH
NUXT_PUBLIC_GTM_ID_HUBSIDE_INSURANCE=GTM-KRK4QTP
NUXT_PUBLIC_GTM_ID_REWARD_CLUB=GTM-M325ZVF
NUXT_PUBLIC_GTM_ID_SERENA_REWARD_CLUB=GTM-M325ZVF
NUXT_PUBLIC_GTM_ID_SERENA_RENT=GTM-M325ZVF
NUXT_PUBLIC_GTM_AUTH_CELSIDE_SERVICE=Oh40v58HPHON2z4AqeIdVg
NUXT_PUBLIC_GTM_AUTH_HUBSIDE_SERVICE=Oh40v58HPHON2z4AqeIdVg
NUXT_PUBLIC_GTM_AUTH_CYRANA=Ny5jp8zsSNKACMqID4WJvg
NUXT_PUBLIC_GTM_AUTH_FORIOU=dH09_FAXwDgCC8obqrC-Ig
NUXT_PUBLIC_GTM_AUTH_HUBSIDE_INSURANCE=A_Q1Nkdp82MkS9QoZExMAg
NUXT_PUBLIC_GTM_AUTH_REWARD_CLUB=rURJ8N51Zh58507shOqssA
NUXT_PUBLIC_GTM_AUTH_SERENA_REWARD_CLUB=rURJ8N51Zh58507shOqssA
NUXT_PUBLIC_GTM_AUTH_SERENA_RENT=rURJ8N51Zh58507shOqssA
NUXT_PUBLIC_GTM_COOKIE_CELSIDE_SERVICE=d46139f4-1527-40b0-94c8-a72582dc8c62
NUXT_PUBLIC_GTM_COOKIE_HUBSIDE_SERVICE=d46139f4-1527-40b0-94c8-a72582dc8c62
NUXT_PUBLIC_GTM_COOKIE_CYRANA=5e38b44b-fba4-4926-9b77-a8467021726a
NUXT_PUBLIC_GTM_COOKIE_FORIOU=6b5f3edb-21ce-4ed7-8575-ea1fd3338b44
NUXT_PUBLIC_GTM_COOKIE_HUBSIDE_INSURANCE=5aa7585e-fd51-4498-a51e-9d6081ad2a1a
NUXT_PUBLIC_GTM_COOKIE_REWARD_CLUB=fc2f8513-11cd-4318-b44e-89730fc88033
NUXT_PUBLIC_GTM_COOKIE_SERENA_REWARD_CLUB=00c8a5c5-857d-4bca-8aa6-c0056d3ffd4a
NUXT_PUBLIC_GTM_COOKIE_SERENA_RENT=00c8a5c5-857d-4bca-8aa6-c0056d3ffd4a
NUXT_PUBLIC_RECAPTCHA_CELSIDE_SERVICE=d46139f4-1527-40b0-94c8-a72582dc8c62
NUXT_PUBLIC_RECAPTCHA_CYRANA=6LdO5EAjAAAAAD-rNbehOijjSXQO-Da78ucWckXD
NUXT_PUBLIC_RECAPTCHA_FORIOU=6b5f3edb-21ce-4ed7-8575-ea1fd3338b44
NUXT_PUBLIC_RECAPTCHA_HUBSIDE_INSURANCE=5aa7585e-fd51-4498-a51e-9d6081ad2a1a
NUXT_PUBLIC_RECAPTCHA_REWARD_CLUB=fc2f8513-11cd-4318-b44e-89730fc88033
NUXT_PUBLIC_RECAPTCHA_SERENA_REWARD_CLUB=6LcAHK8mAAAAAB4l2LV3nBcFufZyTvwUChFNA0m6
NUXT_PUBLIC_RECAPTCHA_SERENA_RENT=6LcAHK8mAAAAAB4l2LV3nBcFufZyTvwUChFNA0m6
NUXT_PUBLIC_RECAPTCHA_HUBSIDE_SERVICE=d46139f4-1527-40b0-94c8-a72582dc8c62
NUXT_PUBLIC_APP_ENV=dev
NUXT_PUBLIC_APP_MOCK=false
NUXT_PUBLIC_APP_URL_PARTNER_CLICK_AND_GIFT=http://clickandgift.originpath.com

NUXT_PUBLIC_APP_USER_MENU_URL_HUBSIDE_PRIME=https://reward-club.indexia-sandbox.com
NUXT_PUBLIC_GTM_ENV_HUBSIDE_PRIME=env-3
NUXT_PUBLIC_GTM_ID_HUBSIDE_PRIME=GTM-5PWTVFH
NUXT_PUBLIC_GTM_AUTH_HUBSIDE_PRIME=dH09_FAXwDgCC8obqrC-Ig
NUXT_PUBLIC_GTM_COOKIE_HUBSIDE_PRIME=6b5f3edb-21ce-4ed7-8575-ea1fd3338b44
NUXT_PUBLIC_RECAPTCHA_HUBSIDE_PRIME=6b5f3edb-21ce-4ed7-8575-ea1fd3338b44

NUXT_PUBLIC_APP_USER_MENU_URL_HUBSIDE_UP=https://reward-club.indexia-sandbox.com
NUXT_PUBLIC_GTM_ENV_HUBSIDE_UP=env-3
NUXT_PUBLIC_GTM_ID_HUBSIDE_UP=GTM-5PWTVFH
NUXT_PUBLIC_GTM_AUTH_HUBSIDE_UP=dH09_FAXwDgCC8obqrC-Ig
NUXT_PUBLIC_GTM_COOKIE_HUBSIDE_UP=6b5f3edb-21ce-4ed7-8575-ea1fd3338b44
NUXT_PUBLIC_RECAPTCHA_HUBSIDE_UP=6b5f3edb-21ce-4ed7-8575-ea1fd3338b44

NUXT_PUBLIC_APP_URL_TRIP_PARTNER_CYRANA=https://www.booking.com/index.html?aid=2333570
NUXT_PUBLIC_APP_URL_TRIP_PARTNER_REWARD_CLUB=https://www.booking.com/index.html?aid=2342243
NUXT_PUBLIC_AMPLITUDE_API_KEY=24e69e651adfcaf093239158ee2c0ef6
