html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-light);
  color: var(--color-core);
  font-size: var(--p-font-size);
}

.wrapper {
  max-width: 95vw;
  margin-right: auto;
  margin-left: auto;

  &--tiny {
    max-width: 80vw;
  }
}

.global-wrapper {
  min-height: 100vh;
  padding: var(--gap);
  display: grid;
  max-width: 170rem;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.card-style {
  background-color: var(--color-white);
  padding: 3.2rem;
  border-radius: 0.8rem;
  box-shadow: var(--card-shadow);
}

.card-style--noPadding{
  background-color: var(--color-white);
  border-radius: 0.8rem;
  box-shadow: var(--card-shadow);
}
